    
<div class="container">

<div class="row sticky">
<h3>{{tvTitle}}</h3>
<video id="my_video_1" class="video-js vjs-default-skin" playsinline controls preload="auto" style="width:100% !important; height:'auto'!important;"
data-setup='{}'>
<source id="source" src="http://ivi.bupt.edu.cn/hls/cctv1.m3u8" type="application/x-mpegURL">
</video>
<hr>
<!-- Single button -->
<div class="row">
<div class="col-xs-12">
<div class="btn-group" uib-dropdown is-open="status.isopen" ng-hide="{{disableCountry}}">
<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
選擇國家 / {{selectedCountry.name}} <span class="caret"></span>
</button>
<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
<li ng-repeat="country in countries" role="menuitem" ng-click="changeCountry(country.code)"> <a href="#">{{country.name}} / {{country.zht_name}}</a></li>
</ul>
</div>


<div class="btn-group pull-right">
<button ng-click="backChannel()" class="btn btn-primary">上一台</button>
<button ng-click="nextChannel()" class="btn btn-primary">下一台</button>
</div>
</div>
</div>
<hr>
</div>

<div ng-repeat="channel in selectChannels" class="col-xs-12 channel" ng-click="switchChannel(channel.url,$index)">
<label class="btn" >
{{channel.inf.title | limitTo: 25 }}{{channel.inf.title.length > 25 ? '...' : ''}}
</label>
</div>

</div>
<!-- Page Footing -->                                                                                                                                                
<script>

var player = videojs('my_video_1', {
html5: {
hls: {
overrideNative: true
}}}
);
var reader = new M3U8FileParser();
</script>
