<div class="container">

<div class="row sticky">
<!-- Single button -->

<span class="btn-group" uib-dropdown is-open="status.isopen" ng-hide="{{disableCountry}}">
<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
選擇類別 / {{selectedGroup.name}} <span class="caret"></span>
</button>
<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
<li ng-repeat="group in groupsO" role="menuitem" ng-click="changeGroup(group.code)"> <a href="#/tv3">{{group.name}}</a></li>
</ul>
<p class="input-group">
<input class="form-control" ng-model='search_input'></input>
<span class="input-group-btn">
<button class="btn btn-primary" ng-click='searchTv($event)'>search</button>
</span>
<span class="input-group-btn">
<button ng-click="backChannel()" class="btn btn-primary">上一台</button>
<button ng-click="nextChannel()" class="btn btn-primary">下一台</button>
</span>
</p>
</span>
<hr>


<h3>{{tvTitle}}</h3>
<video id="my_video_1" class="video-js vjs-default-skin" playsinline controls preload="auto" style="width:100% !important; height:'auto'!important;"
data-setup='{}'>
<source id="source"
src="https://moiptvhls-i.akamaihd.net/hls/live/652318/secure/master.m3u8"
type="application/x-mpegURL">
</video>
<hr>


</div>

<div ng-repeat="channel in selectChannels" class="col-xs-12 channel" ng-click="switchChannel(channel.url,$index)">
<label class="btn" >
{{channel.inf.title | limitTo: 25 }}{{channel.inf.title.length > 25 ? '...' : ''}}
</label>
</div>

</div>
<!-- Page Footing -->                                                                                                                                                
<script>
// 设置flash路径,用于在videojs发现浏览器不支持HTML5播放器的时候自动唤起flash播放器
    videojs.options.flash.swf = 'https://cdn.bootcss.com/videojs-swf/5.4.1/video-js.swf';

var player = videojs('my_video_1', {
liveui: true,
"techOrder": ["html5"],
html5: {
hls: {
overrideNative: true
}}}
);
var reader = new M3U8FileParser();
</script>
